/nbproject
/nbproject/*
!cache
!cache/cachefs
!cache/purifier
!cache/push
!cache/sandbox
!cache/smarty
!cache/tcpdf
/cache/*
/cache/cachefs/*
/cache/purifier/*
/cache/push/*
/cache/sandbox/*
/cache/smarty/*
/cache/tcpdf/*
/themes/cooncook/cache/*
/.htaccess
/tmp/*
!/tmp
/config/settings.inc.php
/backupDB/*
*.tgz
/modules/integracionsap/files/*
!/modules/integracionsap/files
/upload/*
!/upload
/img/tmp/*
!/img/tmp
log/*
!log
/adminadc/autoupgrade/backup/*
/adminadc/autoupgrade/tmp/*
!adminadc/autoupgrade/backup
!adminadc/autoupgrade/tmp